<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>ĐẶT VÉ THÀNH CÔNG/ CONFIRM BOOKING EMAIL @Model.LS_BookingCode</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="booking,vietnam,reserve" />
</head>

<body>
    <div style="font-family: 'Arial',sans-serif; font-size: 14px;">
        <div align="center">
            <table class="m_-1940274959654389831MsoNormalTable"
                   style="background: #79d274; border-collapse: collapse; word-wrap: break-word; word-break: break-word;"
                   border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 450.0pt; padding: 0cm 0cm 0cm 0cm;" valign="top" width="600">
                            <div style="margin: 9.0pt 15.0pt 9.0pt 15.0pt;">
                                <h2 style="margin: 0cm; margin-bottom: .0001pt; text-align: center; line-height: 35pt;"
                                    align="center">
                                    <strong>
                                        <span style="font-size: 28pt; font-family: 'Arial',sans-serif; color: white;">
                                            ĐẶT
                                            VÉ THÀNH CÔNG
                                        </span>
                                    </strong>
                                </h2>
                                <h2 style="margin: 0cm; margin-bottom: .0001pt; text-align: center; line-height: 35pt;"
                                    align="center">
                                    <strong>
                                        <span style="font-size: 21pt; font-family: 'Arial',sans-serif; color: white;">
                                            BOOKING CONFIRMATION
                                        </span>
                                    </strong>
                                </h2>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div align="center">
            <table class="m_-1940274959654389831MsoNormalTable"
                   style="background: white; border-collapse: collapse; word-wrap: break-word; word-break: break-word;"
                   border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 450.0pt; padding: 0cm 0cm 0cm 0cm;" valign="top" width="600">
                            <table class="m_-1940274959654389831MsoNormalTable" style="width: 100.0%;" border="0"
                                   width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td style="padding: 0pt 7.5pt 0pt 7.5pt;">
                                            <div>
                                                <p class="MsoNormal" style="text-align: center;margin-top:20px"
                                                   align="center">
                                                    <span style="font-size: 20pt; color: red;">
                                                        Mã đặt
                                                        vé/ Booking code
                                                    </span>
                                                </p>
                                            </div>
                                            <div>
                                                <p class="MsoNormal" style="text-align: center;" align="center">
                                                    <span style="font-size: 20pt; color: red;">@Model.LS_BookingCode</span>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 450.0pt; padding: 0cm 0cm 0cm 0cm;" valign="top" width="600">
                            <div style="margin-left: 15.0pt; margin-right: 15.0pt;">
                                <p style="text-align:left; margin-right: 0cm; margin-bottom: 15.0pt; margin-left: 0cm; line-height: 15.75pt;">
                                    <span style="font-size: 10.5pt; font-family: 'Arial',sans-serif; color: #60666d;">
                                        <b>TOURSHOPPING>VN</b> Xin chân thành cảm ơn Quý khách
                                        hàng đã lựa chọn dịch vụ của chúng tôi/</a> Thank you for choosing our services
                                    </span>
                                </p>
                            </div>
                            <div style="margin-left:15.0pt;margin-right:15.0pt">
                                <p style="margin-right:0cm;margin-bottom:15.0pt;margin-left:0cm;line-height:15.75pt">
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <br />
        <div align="center">
            <table class="tg"
                   style="table-layout: fixed; width: 580px;border-collapse:collapse;border-spacing:0;">
                <colgroup>
                    <col style="width: 280px">
                    <col style="width: 300px">
                </colgroup>
                <tr>
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;font-weight:bold;background-color:#79d274;color:white;border-color:inherit;text-align:left;vertical-align:top"
                        class="tg-zlqz" colspan="2">
                        THÔNG TIN ĐẶT VÉ / <span style="font-style:italic">
                            BOOKING
                            INFORMATION
                        </span> <br>
                    </th>
                </tr>
                <tr>
                    <td class="tg-0pky"
                        style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;border-color:inherit;text-align:left;vertical-align:top">
                        Mã Booking / Booking Code:
                    </td>
                    <td class="tg-0lax"
                        style="padding-left:20px !important;font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        @Model.LS_BookingCode
                    </td>
                </tr>
                <tr>
                    <td class="tg-0lax"
                        style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        Thành tiền / Amount:
                    </td>
                    <td class="tg-0lax"
                        style="padding-left:20px !important;font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        @Model.tongtien
                    </td>
                </tr>
                @*<tr>
                    <td class="tg-0lax"
                        style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        Ngày sử dụng/ Using Date:
                    </td>
                    <td class="tg-0lax"
                        style="padding-left:20px !important;font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        12/02/2023
                    </td>
                </tr>*@
                <tr>
                    <td class="tg-0lax"
                        style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        Tình trạng / Status:
                    </td>
                    <td class="tg-0lax"
                        style="padding-left:20px !important;font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        <span style="color:red;font-weight:bold"> Đặt vé thành công. Đã thanh toán đầy đủ </span>
                    </td>
                </tr>
                @*<tr>
                    <td class="tg-0lax"
                        style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        Khu vui chơi / Site:
                    </td>
                    <td class="tg-0lax"
                        style="padding-left:20px !important;font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        KHU DU LỊCH SINH TH&#193;I TR&#192;NG AN
                    </td>
                </tr>*@
                <tr>
                    <td class="tg-0lax"
                        style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                        Ghi chú / Note:
                    </td>
                    <td class="tg-0lax"
                        style="padding-left:20px !important;font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;text-align:left;vertical-align:top">
                    </td>
                </tr>
            </table>
        </div> <br />
        <div align="center">
            <style type="text/css">
            </style>
            <table class="tg"
                   style="table-layout: fixed; width: 580px;border-collapse:collapse;border-spacing:0;">
                <colgroup>
                    <col style="width: 185px">
                    <col style="width: 150px">
                    <col style="width: 90px">
                    <col style="width: 155px">
                </colgroup>
                <tr style="">
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;font-weight:bold;background-color:#79d274;border-color:inherit;text-align:left;vertical-align:top;color:white"
                        class="tg-6e8n"> Dịch Vụ / Service </th>
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;font-weight:bold;background-color:#79d274;border-color:inherit;text-align:left;vertical-align:top;color:white"
                        class="tg-6e8n"> Đơn giá / Unit Price </th>
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;font-weight:bold;background-color:#79d274;border-color:inherit;text-align:left;vertical-align:top;color:white"
                        class="tg-6e8n"> Số lượng / Quantity </th>
                    <th style="font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;font-weight:bold;background-color:#79d274;border-color:inherit;text-align:center;vertical-align:top;color:white"
                        class="tg-zlqz"> Thành tiền / Amount </th>
                </tr>
                @foreach (LSPos_Data.Models.ChiTietDonHangModels ct in Model.chitietdonhang)
                {
                    <tr>
                        <td class="tg-0pky"
                            style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;border-color:inherit;text-align:left;vertical-align:top">
                            @ct.tenhang
                        </td>
                        <td class="tg-0pky"
                            style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;border-color:inherit;text-align:left;vertical-align:top">
                            @ct.giaban.ToString("N0") VNĐ
                        </td>
                        <td class="tg-0pky"
                            style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;border-color:inherit;text-align:left;vertical-align:top">
                            @ct.soluong
                        </td>
                        <td class="tg-0pky"
                            style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;border-color:inherit;text-align:left;vertical-align:top">
                            @((ct.soluong*ct.giaban).ToString("N0")) VNĐ
                        </td>
                    </tr>

                }                
                <tr style="height:18.0pt;border-style:solid;border-width:1px;overflow:hidden;">
                    <td style="padding:0cm 0cm 0cm 0cm;height:18.0pt;border-width:1px;overflow:hidden;padding:0px 5px"
                        colspan="2">
                        <p class="MsoNormal">
                            <strong>
                                <span style="font-size:12.0pt">
                                    Tổng tiền \ Total
                                    Amount
                                </span>
                            </strong>
                        </p>
                    </td>
                    <td style="padding:0cm 0cm 0cm 0cm;height:18.0pt" colspan="2">
                        <p class="MsoNormal" style="text-align:right" align="right">
                            <strong>
                                <span style="font-size:12.0pt">@Model.tongtien</span>
                            </strong>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div align="center">
            <table class="m_-1940274959654389831MsoNormalTable"
                   style="background: white; border-collapse: collapse; word-wrap: break-word; word-break: break-word;"
                   border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 450.0pt; padding: 0cm 0cm 0cm 0cm;" valign="top" width="600">
                            <div style="margin-left: 7pt; margin-right: 3pt;">
                                <p style="text-align:left; margin-right: 0cm; margin-bottom: 15.0pt; margin-left: 0cm; line-height: 15.75pt;">
                                    <span style="font-size: 10.5pt; font-family: 'Arial',sans-serif; color: #60666d;">
                                        <i>
                                            <a href="http://tourshopping.vn/Booking/PrintTicket?bookingcode=@Model.LS_BookingCode">
                                                Nhấn vào đây để in vé ngay /Click here to print your tickets now
                                            </a>
                                        </i>
                                    </span>
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div align="center">
            <table style="text-align:left; background: #bcdfff; border-collapse: collapse; word-wrap: break-word; word-break: break-word;"
                   border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 450.0pt; padding: 0cm 0cm 0cm 0cm;" valign="top" width="600">
                            <ul style="list-style-type: none;">
                                <li>Thanh toán được trừ vào thẻ tín dụng của Quý khách.</li>
                                <li><i>Payment is deducted from your credit card.</i></li>
                                <li>Thanh toán số tiền đặt vé trực tuyến và hệ thống đặt chỗ của bạn được bảo mật.</li>
                                <li><i>Pay your online booking amount and your booking system is secure.</i></li>
                                <li>Không hủy, không hoàn tiền, không thay đổi vé.</li>
                                <li><i>No cancellations, no refunds, no ticket changes.</i></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div align="center">
                <i>Yêu cầu hỗ trợ xin vui lòng liên hệ: 0916312212</i> <br> <b>Powered by LsCloud</b>
            </div>
        </div>
    </div>

</body>

</html>
